exe
*.o
\#*#
tex/*.aux
gmon.out
tex/*.toc
tex/*.out
tex/*.log
tex/*.bbl
tex/*.blg
tex/_minted-main
tex/_region_.prv
study_cases/correlation/tex
data
biblio
study_cases/vanishingrejuvenation/annealA.csv
study_cases/vanishingrejuvenation/annealB.csv
beamer/*.log
beamer/*.aux
beamer/*.nav
beamer/*.out
beamer/*.snm
beamer/*.toc
beamer/*.synctex.gz

